<mat-toolbar class="toolbar">
  <!-- Menu icon element  -->
  <div class="toolbar__menu" (click)="onToggleSideNav()">
      <button mat-icon-button>
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <!-- Logo -->
  <div class="toolbar__left">
      <img src="../assets/images/hungry.jpeg" class="toolbar__left__logo" height="50" width="50"/>
      <span class="toolbar__left__title">Hungry Come Eat</span>
  </div>
  <div class="toolbar__right">
    <!-- header right side routes -->
          <ul>
                <li>
                    <a routerLink='/resturant'>Resturant</a>
                </li>

                <li>
                    <a routerLink='/delivery'>Delivery</a>
                </li>
            
                <li *ngIf="!isLogedIn">
                    <a (click)="openDialog()">Login</a>
                </li>
                <li *ngIf="isLogedIn">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>account_circle</mat-icon> &nbsp; 
                      </button>
                </li>
          </ul>
       <!-- menu option -->
          <mat-menu #menu="matMenu">
            <div mat-menu-item *ngIf="userDetails">
              <span >{{userDetails.userName}}</span>
            </div>
            <button mat-menu-item routerLink="/orders">
              <mat-icon>shopping_cart</mat-icon>
              <span >Orders</span>
            </button>
            <button mat-menu-item routerLink="/bookings">
              <mat-icon>perm_contact_calendar</mat-icon>
              <span >Reservations</span>
            </button>
            <button mat-menu-item routerLink="/users" *ngIf="isLogedIn && userDetails.role==='admin'">
              <mat-icon>supervisor_account</mat-icon>
              <span >Users</span>
            </button>
            <button mat-menu-item (click)="logoutUser()">
              <mat-icon>input</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
  </div>
</mat-toolbar>