@import 'variables';
@import 'mixins';
.toolbar{
    background-color: style(primary);
    display: flex;
    justify-content: space-between;
    align-items:center;
    &__menu{
        display: none;
        @include mobile{
            display: inline;
        }
    }
    &__left{
        display: flex;
        align-items: center;
        &__logo{
            border-radius: 50%;
        }
        &__title{
            color:style(white-1);
            padding: 0 1rem;
        }
    }
    &__right{
        ul{
            list-style-type: none;
            display: flex;
            li{
                padding: 0 5rem;
                cursor: pointer;
                color:style(white-1);
            }
        }
        @include mobile{
            display: none;
        }
    }
}

a{
    text-decoration: none;
    color:style(white-1);
}

a:hover{
    color:style(white-1);
}