@import 'variables';
@import 'mixins';

.header{
    background-color: style(primary);
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0.1rem 0.6rem 0 rgba(0,0,0,0.3);
    &__left{
        padding: 1.5rem 2rem;
        font-size: 1.4rem;
        color:style(white-1);
    }
    &__right{
        padding: 1.5rem 2rem;
        font-size: 1.4rem;
        color:style(white-1);
    }
}