<!-- Dialog header of reservation -->
<mat-dialog-actions class="dialog" >
    <h2 class="dialog__title">Reservation</h2>
    <mat-icon class="dialog__closeicon" (click)="close()" matSuffix>close</mat-icon>
</mat-dialog-actions>
<!-- Booking form container -->
<mat-dialog-content class="mat-typography">
    <!-- pax  -->
    <div class="avaliableSeats">Total Seats Avaliable <b>{{avaliableSeats}}</b></div>
    <form class="reservationform" [formGroup]="form" (ngSubmit)="proceedtoSave()">
            <!-- Booking user name element with error -->
           <mat-form-field class="full-width-input">
                <input matInput placeholder="User Name" formControlName="userName">
                <mat-error>User Name is required</mat-error>
            </mat-form-field>
            <!-- Booking Date element with error -->
           <mat-form-field class="full-width-input">
                <input placeholder="Date" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="myDatepicker" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
                <mat-error>Reservation date is required</mat-error>
            </mat-form-field>
            <!-- Booking time element with error -->
           <mat-form-field class="full-width-input">
                <input matInput type="number"  placeholder="TIme in hours" formControlName="time">
                <mat-error> Time of reservation is required </mat-error>
            </mat-form-field>
            <!-- Booking number of seats element with error -->
           <mat-form-field class="full-width-input">
                <input matInput type="number" placeholder="Number in dine" formControlName="numberofSeats">
                <mat-error>Number in is required & max of {{avaliableSeats}}</mat-error>
            </mat-form-field>
            <!-- Booking consideration -->
           <mat-form-field class="full-width-input">
                <input matInput placeholder="Special consideration" formControlName="consideration">
            </mat-form-field>

           <!-- booking sublit -->
            <button type="submit" [disabled]="!form.valid" mat-raised-button class="reservationform__btn">Proceed to save</button>
        </form>
</mat-dialog-content>
