@import 'variables';
@import 'mixins';

// Add menu header with close icon styles in BEM model
.dialog{
    position: relative;
    margin: 0;
    background: style(primary);
    color:style(white-1);
    cursor: pointer;
    &__closeicon{
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 3rem;
    }
    &__title{
        margin: 0 10%;
    }
}

// resturant form style classes in BEM model
.addResturant{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    padding: 5% 10%;
    &__field{
        margin: 1rem 0;
    }
    &__btn{
        background-color:style(primary);
        color:style(white-1);
    }
    &__fileupload{
        position: relative;
        input:focus{
            outline: none;
        }
        &__label{
            position: absolute;
            cursor:pointer;
            color:style(white-1);
            left: 0;
            top: -0.5rem;
            background: style(primary);
            width: 9rem;
            padding: 5px 3px;
            border-radius: 5px;
            font-size: 1.3rem;
            display: flex;
            justify-content: center;
        }
    }
    @include mobile{
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
        grid-gap: 0;
    }
}

// styles to overwrite material dialog styles
::ng-deep .mat-dialog-content{
    max-height: 85vh;
}
// styles to overwrite material dialog styles
::ng-deep .mat-dialog-container{
    padding: 0;
    overflow-x: hidden;
}

