<!-- Header With title and close Icon -->
<mat-dialog-actions class="dialog" >
    <h2 class="dialog__title">Update User</h2>
    <mat-icon class="dialog__closeicon" (click)="closeDialog()" matSuffix>close</mat-icon>
  </mat-dialog-actions>

<!-- SignIn Form container -->
<mat-dialog-content class="mat-typography">
  <!-- Signup form -->
  <form  class="signupform" [formGroup]="form" (ngSubmit)="editUser()">
        <!-- User name -->
        <mat-form-field class="full-width-input">
            <!-- User name Input -->
            <input matInput placeholder="User Name" formControlName="userName">
            <!-- Username error message -->
            <mat-error>Username is required</mat-error>
        </mat-form-field>
        <!-- First name -->
        <mat-form-field class="full-width-input">
            <!-- First name Input -->
            <input matInput placeholder="First Name" formControlName="firstName">
            <!-- First name Error message -->
            <mat-error>First Name is required</mat-error>
        </mat-form-field>
        <!-- Last name -->
        <mat-form-field class="full-width-input">
            <!-- Lastname Input -->
            <input matInput placeholder="Last Name" formControlName="lastName">
            <!-- Lastname error messaage -->
            <mat-error>Last Name is required</mat-error>
        </mat-form-field>
        <!-- User role Select with error -->
        <mat-form-field class="full-width-input">
                <mat-label>User Role</mat-label>
                <mat-select formControlName="role">
                  <mat-option  value="admin">
                   Admin
                  </mat-option>
                  <mat-option  value="User">
                    User
                   </mat-option>
                </mat-select>
            <mat-error>Role is required</mat-error>
        </mat-form-field>
        <!-- User address element with error -->
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Address" formControlName="address">
            <mat-error>Address is required</mat-error>
        </mat-form-field>
        <!-- User Postalcode element with error -->
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Postal Code" formControlName="postalCode">
            <mat-error>PostalCode is required</mat-error>
        </mat-form-field>
        <!-- User Mobile  element with error -->
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Mobile" formControlName="mobile">
            <mat-error>Mobile is required</mat-error>
         </mat-form-field>
         <!-- User edit submit button -->
      <button type="submit" [disabled]="!form.valid" class="signupform__btn"  mat-raised-button color="primary">
        <span *ngIf="!isProgress">Submit</span> 
        <mat-spinner color="accent" [diameter]="25" *ngIf="isProgress"></mat-spinner>
      </button>
  </form>
</mat-dialog-content>