<div class="mat-elevation-z8 tablecontainer" *ngIf="!isLoading">
  <table>
    <thead>
      <tr>
        <th>Booking Id</th>
        <th>user Name</th>
        <th>Number of Seats</th>
        <th>Booking date</th>
        <th>time</th>
        <th>created Time</th>
        <th>Updated Time</th>
      </tr>
    </thead>
    <tbody *ngIf="dataSource.length>0">
      <tr *ngFor="let item of dataSource;">
        <td>{{item._id}}</td>
        <td>{{item.userName}}</td>
        <td>{{item.numberofSeats}}</td>
        <td>{{item.date|date}}</td>
        <td>{{item.time}}</td>
        <td>{{item.createdAt|date}}</td>
        <td>{{item.updateAt|date}}</td>
      </tr>
    </tbody>
  </table>
</div>