<div class="mat-elevation-z8 tablecontainer" *ngIf="!isLoading">
  <table>
    <thead>
      <tr>
        <th>OrderId</th>
        <th>Items</th>
        <th>Delivery</th>
        <th>GST</th>
        <th>Total Amount</th>
        <th>Delivery to</th>
        <th>created Time</th>
        <th>Updated Time</th>
      </tr>
    </thead>
    <tbody *ngIf="dataSource.length>0">
      <tr *ngFor="let item of dataSource;">
        <td>{{item._id}}</td>
        <td>{{item.orderItems.length}}</td>
        <td>{{item.deliveryCharges.toFixed(2)}}</td>
        <td>{{item.gstAmount}}</td>
        <td>{{item.totalAmount}}</td>
        <td>{{item.deliveryAddress}}</td>
        <td>{{item.createdAt|date}}</td>
        <td>{{item.updatedAt|date}}</td>
      </tr>
    </tbody>
  </table>
</div>