<mat-nav-list>
        <a mat-list-item (click)="navigate('resturant')">Resturant</a>
        <a mat-list-item (click)="navigate('delivery')">Delivery</a>
        <a mat-list-item (click)="navigate('bookings')">Booking</a>
        <a mat-list-item (click)="navigate('orders')">Orders</a>
        <a mat-list-item *ngIf="isLogedIn && userDetails.role==='admin'" (click)="navigate('users')">Users</a>
        <a mat-list-item *ngIf="isLogedIn" (click)="logout()">Logout</a>
        <a mat-list-item *ngIf="!isLogedIn" (click)="openDialog()">Login</a>
</mat-nav-list>