@import 'variables';
@import 'mixins';


.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__searchcontainer{
        width: 60%;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: #f7f7f7;
        padding: 2rem;
        margin: 2rem 2rem 0 2rem;
        &__logo{
            padding-bottom: 2rem;
            img{
                width:12.5rem;
            }
        }
        &__search{
            width:100%;
            &__input{
                width:100%;
            }
        }
    }
    &__searchitems{
        display: grid;
        width:80%;
        grid-gap: 2rem;
        padding: 2rem;
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
        &__card{
            padding: 3rem 0 1rem 0;
            border-radius: 0.8rem 0.8rem;
            box-shadow: 4px 4px 15px rgba(#000, 0.15);;
            flex-grow: 1;
            position: relative;
            height:20rem;
        }
    }
}