@import 'variables';
@import 'mixins';


.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__searchcontainer{
        &__logo{

        }
        &__input{

        }
    }
    &__searchitems{
        display: flex;
        &__card{
            width:200px;
        }
    }
}