<app-header></app-header>
<div class="home">
    <div class="home__searchcontainer">
        <div class="home__searchcontainer__logo">
                <img src="../../../assets/images/hungry.jpeg"/>
        </div>
        <div class="home__searchcontainer__search">
            <input class="home__searchcontainer__search__input" type="text" placeholder="search"/>
        </div>
    </div>
    <div class="home__searchitems">
        <div *ngFor="let item of [0,1,2,3]" class="home__searchitems__card">
                Restraunt {{item+1}}
        </div>
    </div>
</div>
<app-footer></app-footer>