<app-header></app-header>
<div class="home">
    <div class="home__searchcontainer">
        <div class="home__searchcontainer__logo">
                <img src="../../../assets/images/hungry.jpeg" alt="logo"/>
        </div>
        <div class="home__searchcontainer__search">
            <mat-form-field appearance="standard" class="home__searchcontainer__search__input">
                <mat-label>Search Restruants</mat-label>
                <input matInput placeholder="Search Restruants">
                <mat-icon matSuffix>search</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
            <!-- <input  type="text" placeholder="search"/> -->
        </div>
    </div>
    <div class="home__searchitems">
        <div *ngFor="let item of restruants" class="home__searchitems__card">
                <img [src]="item.imageUrl" height="100%" width="100%" alt="newimage" class="home__searchitems__card__image"/>
                <div class="home__searchitems__card__action">
                    <div class="home__searchitems__card__action__title">
                        {{item.name}}
                    </div>
                    <div class="home__searchitems__card__action__description">
                        {{item.description}}
                    </div>
                    <div class="home__searchitems__card__action__btn">
                        <button  mat-raised-button [routerLink]="['/resturant']" class="home__searchitems__card__action__btn__custom">See more</button>
                        <button  mat-raised-button [routerLink]="['/bookings']" class="home__searchitems__card__action__btn__custom">Booking</button>
                    </div>
                </div>
        </div>
    </div>
</div>
<app-footer></app-footer>