
<mat-dialog-actions class="dialog" >
    <h2 class="dialog__title">Resturant</h2>
    <mat-icon class="dialog__closeicon" (click)="close()" matSuffix>close</mat-icon>
</mat-dialog-actions>
<mat-dialog-content class="mat-typography resturantdetails">
    <div class="resturantdetails__image">
        <img [src]="resturantDetails.imageUrl" [alt]="resturantDetails.imageUrl"/>
        <p class="resturantdetails__image__title">{{resturantDetails.name}}</p>
    </div>
    <div class="resturantdetails__details">
            <div class="resturantdetails__details__item">
               <div class="resturantdetails__details__item__header">Name</div>
               <div class="resturantdetails__details__item__value">{{resturantDetails.name}}</div>
            </div>
            
            <div class="resturantdetails__details__item">
                <div class="resturantdetails__details__item__header">Description</div>
                   <div class="resturantdetails__details__item__value">{{resturantDetails.description}}</div>
            </div>

            <div class="resturantdetails__details__item">
                <div class="resturantdetails__details__item__header"> location</div>
                <div class="resturantdetails__details__item__value">{{resturantDetails.location}}</div>
            </div>
    </div>
</mat-dialog-content>
