<!-- Header With title and close Icon -->
  <mat-dialog-actions class="dialog" >
    <h2 class="dialog__title">Signin</h2>
    <mat-icon class="dialog__closeicon" (click)="closeDialog()" matSuffix>close</mat-icon>
  </mat-dialog-actions>

<!-- SignIn Form container -->
<mat-dialog-content class="mat-typography">
  <form  class="form" [formGroup]="LoginForm" (ngSubmit)="submitLogin()">
      <!-- Error on submission and if user credentials do not match -->
      <!-- Email  -->
      <mat-form-field class="full-width-input">
          <!-- Email Input -->
          <input matInput placeholder="Email" formControlName="email" [disabled]="isProgress">
          <!-- Email Error message -->
          <mat-error> Please provide a valid email address</mat-error>
      </mat-form-field>
      <!-- Password  -->
      <mat-form-field class="full-width-input">
          <!-- Password input -->
          <input matInput type="password" placeholder="Password" [disabled]="isProgress" formControlName="password">
          <!-- Password Error -->
          <mat-error>Please provide a valid password</mat-error>
        </mat-form-field>
      <!-- Sigin Button -->
      <button type="submit" class="form__btn" [disabled]="!LoginForm.valid && isProgress" mat-raised-button color="primary">
       <span *ngIf="!isProgress">Signin</span> <mat-spinner color="accent" [diameter]="25" *ngIf="isProgress"></mat-spinner>
      </button>
      <mat-error class="form__message" *ngIf="loginInvalid">
        Invalid Eamil or password
    </mat-error>
  </form>
  <div class="signupoption">
      <p>New to Hungry Come Eat ?</p> &nbsp;<p class="signupoption__link" (click)="userSignup()"> SignUp</p></div>
</mat-dialog-content>