<div class="footerbody">
    <!-- footer options -->
    <div class="footerbody__item">News</div>
    <div class="footerbody__item">Sport</div>
    <div class="footerbody__item">Weather</div>
    <div class="footerbody__item">Future</div>
    <div class="footerbody__item">Channels</div>
    <div class="footerbody__item">Culture</div>
    <div class="footerbody__item">Autos</div>
    <div class="footerbody__item">Food</div>
    <div class="footerbody__item">Overview</div>
    <div class="footerbody__item">Nature</div>
    <div class="footerbody__item">Local</div>
    <div class="footerbody__item">Earth</div>
    <div class="footerbody__item">Timeline</div>
    <div class="footerbody__item">Music</div>
    <div class="footerbody__item">Shop</div>
    <div class="footerbody__item">Radio</div>
</div>
<footer class="footer">
    <!-- copy right text -->
    <div class="footer__left">
        Copyright &copy; 2020
    </div>
    <!-- Footer social icons -->
    <div class="footer__right">
        <a class="footer__right__icon" target="_blank" href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook fa-3x social"></i></a>
        <a class="footer__right__icon" target="_blank" href="https://twitter.com"><i id="social-tw" class="fa fa-twitter fa-3x social"></i></a>
        <a class="footer__right__icon" target="_blank" href="https://plus.google.com"><i id="social-gp" class="fa fa-google-plus fa-3x social"></i></a>
        <a class="footer__right__icon" target="_blank" href="mailto:#"><i id="social-em" class="fa fa-envelope fa-3x social"></i></a>
    </div>
</footer>
