
<!--  -->
<div class="resturant">
    <!-- Logo and search -->
    <div class="resturant__searchcontainer">
        <!-- Logo -->
        <div class="resturant__searchcontainer__logo">
                <img src="../../../assets/images/hungry.jpeg" alt="logo"/>
        </div>
        <!-- Search Input -->
        <div class="resturant__searchcontainer__search">
            <mat-form-field appearance="standard" class="resturant__searchcontainer__search__input">
                <mat-label>Search Restruants</mat-label>
                <input matInput placeholder="Search Restruants">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
        </div>
    </div>
    <!-- Resturants -->
    <div class="resturant__searchitems">

        <div class="resturant__searchitems__addmore">
            <button  mat-icon-button aria-label="Remove item" (click)="addResturant()"> <mat-icon class="resturant__searchitems__addmore__btn">add_circle_outline</mat-icon></button>
        </div>
        <!-- Resturants repeating  -->
        <div *ngFor="let item of restruants" class="resturant__searchitems__card">
                <img src={{item.image}} height="100%" width="100%" alt="newimage" class="resturant__searchitems__card__image"/>
                <mat-icon *ngIf="isLogedIn && userDetails.role==='admin'" title="Delete Resturant" (click)="deleteResturant(item)" class="resturant__searchitems__card__delete">delete</mat-icon>
                <mat-icon *ngIf="isLogedIn && userDetails.role==='admin'" title="Edit Resturant" (click)="addResturant(item)" class="resturant__searchitems__card__edit">edit</mat-icon>
                <div class="resturant__searchitems__card__action">
                    <!-- Resturant Name -->
                    <div class="resturant__searchitems__card__action__title">
                        {{item.name}}
                    </div>
                    <!-- Resturant Description -->
                    <div class="resturant__searchitems__card__action__description">
                        {{item.description}}
                    </div>
                    <!-- Resturant See more and Booking buttons -->
                    <div class="resturant__searchitems__card__action__btn">
                        <button  mat-raised-button  class="resturant__searchitems__card__action__btn__custom" (click)="showMore(item)">See more</button>
                        <button  mat-raised-button  class="resturant__searchitems__card__action__btn__custom" (click)="booking(item)">Booking</button>
                    </div>
                </div>
        </div>
    </div>
</div>
<!-- Footer Component -->
<app-footer></app-footer>